"*":
  welcome:
    showOnStartup: false
  "local-config":
    applyOnActivation: true
  "tool-bar-markdown-writer":
    visibility: "showButtonsOnAll"
  "markdown-image-assistant":
    imageDir: "static/assets"
    imageUrlPrefix: "/assets"
    insertTemplate: "{{< img src=\"%SRC%\" title=\"\" >}}"
  "autocomplete-paths":
    enableHtmlSupport: true
    maxFileCount: 10000
    normalizeSlashes: false
    scopes: [
      {
        includeCurrentDirectory: true
        prefixes: [
          '{{< relref "'
        ]
        projectRelativePath: true
        relative: false
        replaceOnInsert: [
          [
            "^content\\/(.*?)$"
            "$1"
          ]
        ]
        scopes: [
          "text.md"
        ]
      },
      {
        includeCurrentDirectory: true
        prefixes: [
          '{{< img src="'
        ]
        projectRelativePath: true
        relative: false
        replaceOnInsert: [
          [
            "^static\\/(.*?)$"
            "/$1"
          ]
        ]
        scopes: [
          "text.md"
        ]
      },
      {
        includeCurrentDirectory: true
        prefixes: [
          '{{% include-code-block(\\s*\\w*=\\".*\\")*\\sfile="'
        ]
        projectRelativePath: true
        relative: false
        replaceOnInsert: [
          [
            "^content\\/(.*?)$"
            "$1"
          ]
        ]
        scopes: [
          "text.md"
        ]
      }
    ]
