[*]
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Override for Makefile
[{Makefile,Makefile.*,makefile,GNUmakefile}]
indent_style = tab
indent_size = 4

[*.sh]
indent_style = tab
