.post {
  margin-top: 2.4rem;

  &__footer {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  &__paragraph {
    color: $color_dark_gray;
    margin-bottom: .5rem;
  }

  &__readmore {}

  &__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;

    /*
    .faq & {
      &::before {
        content: '✅';
        vertical-align: top;
        margin-right: .6rem;
      }
    }
    */

  }

  &__title-link {
    .post & {
      color: $black;
    }
  }
}

.articles-list {
  margin-top: 3rem;

  &__title {
    font-size: 1.8rem;
  }
}
