.breadcrumbs {
  &__separator {
    color: $color_celeste_approx;
    font-size: 10px;
    width: 7px;
  }

  &__item,
  &__title {
    padding: 0 9px 0 9px;
    display: inline-block;
  }

  &__item {
    color: $color_waterloo__approx;
    border-radius: 2px;

    &:hover {
      text-decoration: none;
      background-color: $white;
      box-shadow: 0 0 0 1px $color_nebula_approx, 0 2px 2px $black_10;
    }
  }
}
