.dialog {
  border-left: 4px solid $red;
  padding: 13px 23px;
  margin-left: 0;
  margin-bottom: 3em;
  color: $black_50;

  &__text,
  p {
    font-size: 14px;
    padding-left: 22px;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__title,
  h4 {
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__icon {
    pointer-events: none;
    font-size: 18px;
    opacity: .3;
    filter: alpha(opacity=30);
    position: relative;
    top: 1px;
    width: 22px;
  }

  &.info {
    background-color: $color_mystic_approx;
    border-color: $color_viking_approx;

    h4 {
      color: $color_viking_approx;
    }

    a {
      background-color: $color_mystic_approx;
      border-color: $color_viking_approx;
    }
  }

  &.important {
    background-color: $color_vista_white_approx;
    border-color: $color_chestnut_rose_approx;

    h4 {
      color: $color_chestnut_rose_approx;
    }

    a {
      background-color: $color_vista_white_approx;
      border-color: $color_chestnut_rose_approx;
    }
  }

  &.warning {
    background-color: $color_bianca_approx;
    border-color: $color_casablanca_approx;

    h4 {
      color: $color_casablanca_approx;
    }

    a {
      background-color: $color_bianca_approx;
      border-color: $color_casablanca_approx;
    }
  }

  &.tip {
    background-color: $color_mystic_approx;
    border-color: $color_viking_approx;

    h4 {
      color: $color_viking_approx;
    }

    a {
      background-color: $color_mystic_approx;
      border-color: $color_viking_approx;
    }
  }

  &.code-block {
    width: 100%;
    background-color: $color_gray_nurse_approx;
    border-color: $color_shakespeare_approx;

    pre {
      margin: 0 7px;
    }

    h4 {
      color: $color_shakespeare_approx;
    }

    a {
      @extend %extend_5;
    }

    &.processed {

      pre {
        overflow: hidden;
        max-height: 250px;
        position: relative;
        &:after {
          position: absolute;
          right: 0;
          bottom: 0;
          content: "";
          height: 20px;
          width: 100%;
          background: linear-gradient(180deg,transparent, $color_gray_nurse_approx);
        }
      }
    }

    .code-expand {
      background: none;
      color: $color_shakespeare_approx;
      float: right;
      margin: 0;
    }
  }

  .copy-to-clipboard .fa {
    font-size: 1.05rem;
  }
}
