.footer {
  display: none;
  margin: 0;

  @include respond-to(desktop) {
    display: block;
  }

  .footline {
    display: block;
    padding-top: .2rem;

    .tags {
      display: inline-block;
      float: left;
      font-size: 12px;
      margin-right: 10px;
      @extend %extend_4;
    }

    .copyright {
      @extend %extend_4;
    }

    .date {
      display: inline-block;
      margin-left: 10px;
    }
  }
}
