.footer {
  display: none;
  margin: 0;
<<<<<<< HEAD
=======
  padding: 1rem 0;
>>>>>>> Footer fixes 275

  @include respond-to(desktop) {
    display: block;
  }

  .footline {
    display: flex;
    flex-wrap: nowrap;
    line-height: 2.2rem;
    padding-top: .2rem;
<<<<<<< HEAD
=======
    padding-left: 4rem;
    // sidebar + max-content-width
    max-width: calc(1024px + 24rem);

    .tags {
      font-size: 12px;
      margin-right: 10px;
      order: 0;
      flex: 0 0 auto;
    }
>>>>>>> Footer fixes 275

    .copyright {
      flex: 0 1 auto;
    }

    .date {
      display: inline-block;
      flex: 0 0 auto;
      padding-left: 10px;
    }
  }
}
