.footer {
  display: none;
  margin: 0;
  border-top: 1px solid $color_mercury_approx;
  @include respond-to(desktop) {
    display: block;
  }

  a {
    color: $color_black_pearl_approx;
  }

  .footline {
    display: flex;
    flex-wrap: nowrap;

    .copyright {
      flex: 0 1 auto;
    }

    .date {
      display: inline-block;
      flex: 0 0 auto;
      padding-left: 10px;
    }
  }
}
