.landing-top {
  padding: 20px;
  background-color: $color_cape_cod_approx;
  display: block;
  width: 100%;
  color: $white;
  padding-bottom: 40px;
  @include respond-to('desktop') {
    padding: 60px 50px;
  }

  &__title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
    margin: 0;
    @include respond-to('desktop') {
      font-size: 3rem;
    }
  }

  &__wrapper {
    margin: 0 auto;
    align-items: center;
    @include respond-to('desktop') {
      display: flex;
      max-width: 1200px;
    }
  }

  &__image-wrapper {
    display: none;

    svg {
      g > * {
        fill: $white;
      }
    } 

    @include respond-to('desktop') {
      margin-right: 50px;
      flex: 0 0 25%;
      display: block;
    }
  }

  &__search-bar {
    padding-top: 30px;
    margin: 0 auto;
    @include respond-to('desktop') {
      max-width: 50%;
      padding-top: 60px;
    }
  }

  &__about {
    display: block;

    @include respond-to('desktop') {
      max-width: 80%;
      font-size: 1.2rem;
    }
  }

  &__button {
    display: block;

    @include respond-to('desktop') {
      width: auto;
      display: inline-block;
    }
  }
}
