.landing-top {
  padding: 20px;
  background-color: $color_cape_cod_approx;
  display: block;
  width: 100%;
  color: $white;
  padding-bottom: 40px;
  @include respond-to('desktop') {
    padding: 20px 160px 60px;
  }

  &__title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
    margin: 0;
    @include respond-to('desktop') {
      font-size: 6rem;
    }
  }

  &__wrapper {
    margin: 0 auto;
    @include respond-to('desktop') {
      text-align: center;
    }

    @include respond-to('large') {
      max-width: 1040px;
    }
  }

  &__image-wrapper {
    display: none;

    svg {
      g > * {
        fill: $white;
      }
    } 

    @include respond-to('desktop') {
      display: block;
      max-width: 180px;
      margin: 0 auto 24px;
      padding-left: 24px;
    }
  }

  &__search-bar {
    padding-top: 30px;
    margin: 0 auto;
    @include respond-to('desktop') {
      max-width: 640px;
      padding-top: 60px;
    }
  }

  &__about {
    display: block;

    @include respond-to('desktop') {
      font-size: 1.2rem;
      line-height: 1.6;
      max-width: 640px;
      margin: 0 auto;
    }
  }

  &__button {
    display: block;

    @include respond-to('desktop') {
      width: auto;
      display: inline-block;
    }
  }
}
