.landing-top {
  min-height: 293px;
  padding: 60px 50px;
  background-color: $color_cape_cod_approx;
  display: block;
  width: 100%;
  color: $white;
  padding-bottom: 40px;
  @media(min-width: 768px) and(max-width: 1024px) and(orientation: landscape) {
    height: 28vh;
  }
  @media(min-width: 320px) and(max-width: 480px) {
    padding: 20px;
  }
  @media only screen and(min-device-width : 375px) and(max-device-width : 667px) {
    height: 53vh;
  }
  @media only screen and(min-device-width : 375px) and(max-device-width : 812px) and(-webkit-device-pixel-ratio : 3) and(orientation : portrait) {
    height: 45vh;
  }
  @media only screen and(min-device-width : 414px) and(max-device-width : 736px) and(orientation : portrait) {
    height: 48vh;
  }
  @media only screen and(min-device-width: 1024px) and(max-device-width: 1366px) and(orientation: portrait) and(-webkit-min-device-pixel-ratio: 1.5) {
    height: 21vh;
  }

  &__title {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.1em;
    @media(min-width: 320px) and(max-width: 480px) {
      line-height: 1.1em;
    }
  }

  &__description {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    @media(min-width: 768px) and(max-width: 1024px) and(orientation: landscape) {
      max-width: initial;
      width: auto;
    }
    @media(min-width: 481px) and(max-width: 767px) {
      max-width: initial;
      width: auto;
    }
    @media(min-width: 320px) and(max-width: 480px) {
      max-width: initial;
      width: auto;
    }
    @media(min-width: 768px) and(max-width: 1024px) {
      width: 100%;
    }
  }

  &__image {
    max-width: 125px;
    margin-right: 10px;
    float: left;
    @media(min-width: 320px) and(max-width: 480px) {
      display: none;
    }
  }

  &__search-bar {
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;

    @media(min-width: 320px) and(max-width: 480px) {
      padding-left: 0;
      padding-right: 0;
    }  
  }
}
