#related {
  h4 {
    color: $color_fuscous_gray_approx;
    font-size: 23px;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    line-height: 1.6em;
  }

  i {
    margin-right: 10px;
  }
}
