.search-bar {
  padding-top: 30px;
  padding-left: 20%;
  padding-right: 20%;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: padding .3s ease-out;
  //Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
  transition-delay: 1s;
  @media(min-width: 320px) and(max-width: 480px) {
    padding-left: 0;
    padding-right: 0;
  }

  &:focus {
    @extend %extend_3;
  }

  &:active {
    @extend %extend_3;
  }

  &.active {
    @extend %extend_3;
  }

  .icon {
    position: relative;
    width: 0;
    height: 0;
  }

  .fa {
    position: absolute;
    top: 9px;
    left: 16px;
    font-size: 21px;
    color: $color_celeste_approx;
    z-index: 1004;
  }

  input {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    height: 100%;
    border: 0 none;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 2px 2px $black_10 inset;
    color: $color_tundora_approx;
    width: 100%;
    font-size: 20px;
    padding: 13px 13px 13px 50px;
    font-size: 14px;
  }
}

.searchbox {
  padding-top: 0;
}

.ais-search-box {
  padding-top: 0;
}

#search-stats {
  border-top: 1px solid $color_mercury_approx;
  display: inline-block;
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
  background-color: $white;

  &:empty {
    display: none;
  }

  h3 {
    color: $color_cape_cod_approx;
    font-size: 1.5em;
    margin-bottom: .7em;
    display: inline-block;
    float: left;
  }

  span {
    display: none;
  }
}

#search-hits {
  max-width: 100%;
  overflow: hidden;
  background: $white;
  padding-top: 0;
  padding-bottom: 15px;

  &:empty {
    display: none;
  }

  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
    display: inline-block;
  }

  p {
    margin: 0;

    &:empty {
      display: none;
    }
  }

  .ais-hits--item {
    padding: 5px 20px;

    &:hover {
      background-color: $color_half_colonial_white_approx;
    }
  }

  em {
    font-weight: bold;

    &.section {
      font-weight: normal;
      padding-left: 10px;
      font-size: 11px;
      text-transform: uppercase;
      font-style: normal;
      color: $color_silver_chalice_approx;
    }

    &.tags {
      font-weight: normal;
      font-size: 11px;
      font-style: normal;
      color: $color_silver_chalice_approx;
      display: block;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

#search-results {
  background-color: $white;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: max-height .8s;
  //Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
  transition-delay: 0s;
  overflow: hidden;
  max-height: 768px;
  position: relative;
  top: -5px;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 1px 29px 61px 1px $black_30;
  //Instead of the line below you could use @include border-bottom-left-radius($radius)
  border-bottom-left-radius: 5px;
  //Instead of the line below you could use @include border-bottom-right-radius($radius)
  border-bottom-right-radius: 5px;

  &.hidden {
    @extend %extend_1;
  }

  .ais-stats {
    opacity: 1;
  }
}

.ais-hits.ais-hits__empty {
  width: 100%;
  color: $color_mountain_mist_approx;
  font-style: italic;
  padding-left: 20px;
  padding-bottom: 20px;
  color: $color_mountain_mist_approx;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}
