
.tags {
  margin: .6rem 0 0;
  align-items: baseline;
  display: inline-flex;
  flex-wrap: wrap;

  &__label {
    background-color: $color-tag-bg;
    border-radius: 3px;
    color: $color-tag;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    margin: 0 6px 6px 0;
    padding: 3.6px 10.8px;
    white-space: nowrap;

    &:hover {
      background-color: $color-tag-bg-hover;
      color: $color-tag;
      text-decoration: none;
    }
  }
}
