
.tags {
  &__label {
    background-color: $color_desert_storm_approx;
    border-radius: .2rem;
    display: inline-block;
    font-size: .8rem;
    line-height: 1;
    margin: 0 .5rem .5rem 0;
    padding: .5rem .8rem;
    transition: all $basic-transition-effect $basic-transition-time;
    white-space: nowrap;

    &:hover {
      background-color: $color_santas_gray_approx;
      text-decoration: none;
    }
  }
}
