.whitish {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1); }

html {
  font-size: 14px; }

body,
html {
  font-family: "Proxima Nova", "Open Sans", sans-serif; }

strong {
  font-weight: bold; }

.label-default {
  font-weight: normal; }

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none; }
  abbr[title]:hover {
    cursor: pointer; }

acronym[title] {
  text-decoration: none;
  cursor: pointer; }
  acronym[title]:hover {
    cursor: pointer; }

label abbr {
  display: initial; }

body {
  min-width: 320px; }

.hidden, .search-results.hidden {
  max-height: 0;
  border: 0;
  overflow: hidden; }

.footer .footline .tags, .footer .footline .copyright {
  display: inline-block;
  float: left;
  line-height: 2.2em; }

.dialog.code-block, .dialog.code-block a {
  border-color: transparent;
  background-color: #f6f7f8;
  margin-bottom: 2em; }

a {
  color: #364548; }
  a:hover {
    color: #0a0d0e;
    text-decoration: underline; }
    a:hover.button {
      text-decoration: none; }
      a:hover.button.green {
        background-color: #419954; }
  a.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    text-decoration: none; }
    a.button.green {
      background-color: #73c485;
      color: #fff; }

figure {
  border: 1px solid #cccccc38;
  max-width: 70%; }
  figure img {
    min-width: 100%; }
  figure h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .8em;
    font-weight: normal;
    background-color: #f6f7f8;
    padding-right: 1em;
    display: block;
    width: 100%;
    text-align: right; }
  figure .logo {
    border: 0;
    max-width: 25%; }
    figure .logo figcaption {
      display: none; }

thead {
  background-color: #f9f9f9;
  border-bottom: 2px solid #eff0f0; }

th:empty {
  display: none; }

body > .__slackin {
  z-index: 2; }

div.calendly-badge-widget {
  right: 88px;
  bottom: 20px; }

.at-logo {
  display: none; }

.calendly-badge-widget iframe {
  border-radius: 10px; }

.calendly-badge-widget .calendly-badge-content {
  background-image: linear-gradient(-225deg, #50cccc 35%, #45aeca); }

.calendly-overlay iframe {
  border-radius: 10px; }

.calendly-overlay .calendly-popup {
  border-radius: 10px; }

.cloudposse #_hj-f5b2a1eb-9b07_feedback_open_close_phone {
  background-image: linear-gradient(-225deg, #50cccc 35%, #45aeca); }

.cloudposse #_hj-f5b2a1eb-9b07_feedback ._hj-f5b2a1eb-9b07_feedback_minimized_label {
  background-image: linear-gradient(-225deg, #50cccc 35%, #45aeca); }

@media (min-width: 320px) and (max-width: 480px) {
  div.calendly-badge-widget {
    display: none; } }

.post-header h2 {
  background-color: transparent;
  font-size: 1.2rem; }

.page-gost-framework article section.page img {
  max-width: 13%; }

.calendly-inline-widget iframe {
  border-radius: 10px; }

.license .fab {
  font-size: 2em; }

.asciinema-player-wrapper .asciinema-player {
  max-height: 600px;
  -webkit-box-shadow: 1px 29px 61px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 29px 61px 1px rgba(0, 0, 0, 0.3); }

.ais-search-box {
  max-width: none; }
  .ais-search-box--magnifier {
    fill: #bfc7d8;
    left: 12px;
    top: calc(50% - 18px/2); }
  .ais-search-box--reset {
    fill: #bfc7d8;
    top: calc(50% - 12px/2);
    right: 13px;
    outline: none; }

.ais-stats {
  opacity: 1; }

.ais-hits.ais-hits__empty {
  width: 100%;
  color: #999;
  font-style: italic;
  padding-left: 20px;
  padding-bottom: 20px;
  color: #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.left-sidebar-menu {
  border-right: 1px solid #e2e3e3;
  padding-right: 12px;
  line-height: 2rem;
  list-style-type: none;
  margin-top: 0; }
  .left-sidebar-menu__item-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .left-sidebar-menu__item-title > a:active, .left-sidebar-menu__item-title > a:hover, .left-sidebar-menu__item-title > a:focus {
      background-color: #eee;
      border-radius: .2rem;
      text-decoration: none; }
  .left-sidebar-menu__link {
    padding: 0 0 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    line-height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-decoration: none;
    color: #7d7f7f; }
    .haschildren .left-sidebar-menu__link {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .5px; }
    .left-sidebar-menu__submenu .haschildren .left-sidebar-menu__link {
      font-weight: 400;
      text-transform: none; }
  .left-sidebar-menu__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 20px;
    cursor: pointer;
    color: #bbb;
    opacity: .5;
    font-weight: bold;
    font-size: 20px;
    line-height: inherit; }
    .left-sidebar-menu__icon:active, .left-sidebar-menu__icon:hover, .left-sidebar-menu__icon:focus {
      background-color: #eee;
      border-radius: .2rem;
      padding: 0 0rem; }
  .left-sidebar-menu__item {
    list-style: none;
    font-size: 13px;
    padding-left: 1rem;
    margin: .5rem 0 .5rem 20px; }
    .left-sidebar-menu__item.active > .left-sidebar-menu__item-title {
      background-color: #364548;
      border-radius: 3px; }
      .left-sidebar-menu__item.active > .left-sidebar-menu__item-title > a {
        color: #fff;
        font-weight: 400; }
        .left-sidebar-menu__item.active > .left-sidebar-menu__item-title > a:hover {
          background-color: #364548; }
  .left-sidebar-menu__submenu {
    display: none; }
    .active > .left-sidebar-menu__submenu,
    .parent > .left-sidebar-menu__submenu {
      display: block; }
    .left-sidebar-menu__submenu .left-sidebar-menu__item {
      margin: 0; }
    .left-sidebar-menu__submenu .left-sidebar-menu__item-title > a {
      width: 100%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 5px; }

pre {
  margin: 20px 30px;
  padding: 20px;
  border-radius: 6px;
  color: #eff0f0;
  background-color: #364548; }
  pre.asciinema-terminal {
    margin: 0;
    border-radius: 0; }
  pre .copy-to-clipboard {
    float: right;
    position: relative;
    right: 0; }

.search-bar {
  position: relative;
  -webkit-transition: margin .3s ease-out;
  transition: margin .3s ease-out; }
  .search-bar.active {
    margin-left: 0;
    margin-right: 0; }
  .search-bar--subnav {
    background-color: #f6f7f8;
    -webkit-transition: width .3s ease-out;
    transition: width .3s ease-out; }
    .search-bar--subnav.active {
      -webkit-transition: width .3s ease-out;
      transition: width .3s ease-out;
      width: 100%; }

.search-box input[type="text"] {
  font-size: 13px;
  line-height: 1;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
  padding: 10px 10px 10px 40px;
  margin-bottom: 0;
  border: 0; }

.search-box--big .ais-search-box {
  display: block;
  text-align: left;
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 5px;
  max-width: 100%;
  color: #ccc; }
  .search-box--big .ais-search-box--magnifier svg {
    height: 18px;
    width: 18px; }

.search-box--big input[type="text"] {
  width: 100%;
  margin-bottom: 0;
  background-color: #f6f7f8;
  border-radius: 5px;
  height: 100%;
  border: 0 none;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
  color: #444;
  padding: 13px 13px 13px 50px;
  font-size: 14px; }

.search-results {
  background-color: #fff;
  -webkit-transition: max-height .3s;
  transition: max-height .3s;
  overflow: hidden;
  max-height: 768px;
  position: absolute;
  top: 100%;
  -webkit-box-shadow: 1px 29px 61px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 29px 61px 1px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  z-index: 1000; }
  .search-results.hidden {
    visibility: hidden; }
  .search-results--big {
    top: calc(100% - 3px); }

.search-hits {
  max-width: 100%;
  overflow: hidden;
  background: #fff;
  padding-top: 0;
  padding-bottom: 15px; }
  .search-hits:empty {
    display: none; }
  .search-hits .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
    display: inline-block; }
  .search-hits p {
    margin: 0; }
    .search-hits p:empty {
      display: none; }
  .search-hits .ais-hits--item {
    padding: 5px 20px; }
    .search-hits .ais-hits--item:hover {
      background-color: #fcf5d4; }
  .search-hits em {
    font-weight: bold; }
    .search-hits em.section {
      font-weight: normal;
      padding-left: 10px;
      font-size: 11px;
      text-transform: uppercase;
      font-style: normal;
      color: #aaa; }
    .search-hits em.tags {
      font-weight: normal;
      font-size: 11px;
      font-style: normal;
      color: #aaa;
      display: block; }
  .search-hits a:hover {
    text-decoration: none; }

.search-stats {
  border-top: 1px solid #e2e3e3;
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
  background-color: #fff; }
  .search-stats:empty {
    display: none; }
  .search-stats__title {
    color: #364548;
    font-size: 1.5em;
    margin-bottom: .7em; }
  .search-stats__subtitle {
    display: none; }

.container {
  max-width: 1100px;
  width: auto; }

header {
  line-height: 1.4;
  height: auto; }

.header {
  background-color: #364548;
  color: rgba(255, 255, 255, 0.8);
  height: 4.3rem;
  width: 100%;
  position: initial;
  padding: 0;
  margin: 0;
  display: block; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    padding: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative; }
    @media (min-width: 1024px) {
      .header__container {
        padding: 0; } }
  .header__logo {
    width: 160px;
    height: 40px; }
    @media (min-width: 1024px) {
      .header__logo {
        margin: 10px 0; } }
    .header__logo.logo img {
      width: 100%;
      height: auto; }
  .header::after {
    display: none; }
  @media (min-width: 0) and (max-width: 1023px) {
    .header__shortcuts.shortcuts {
      position: absolute;
      top: 100%;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      left: 0;
      background-color: #fff;
      z-index: 5;
      max-height: 0px;
      overflow: hidden;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .header__shortcuts.shortcuts.opened {
        max-height: 1000px;
        -webkit-transition: all 0.25s ease-in;
        transition: all 0.25s ease-in;
        border-bottom: 1px solid #dee5e8; } }
  @media (min-width: 1024px) {
    .header__shortcuts.shortcuts {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-left: 3vw; } }
  .header__shortcuts.shortcuts li .fa {
    font-size: 1.5rem;
    margin-right: .5rem; }
  .header__shortcuts.shortcuts li .fab {
    font-size: 1.5rem;
    margin-right: .5rem; }
  .header__shortcuts.shortcuts li a:hover {
    text-decoration: none; }
  @media (min-width: 0) and (max-width: 1023px) {
    .header__shortcuts.shortcuts li a {
      font-size: 1.4rem;
      text-transform: uppercase;
      padding: 1rem 10px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .header__shortcuts.shortcuts li a:hover {
        color: #fff;
        background-color: #364548; } }
  @media (min-width: 1024px) {
    .header__shortcuts.shortcuts li a {
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.8);
      padding: 5px 1rem;
      height: auto; }
      .header__shortcuts.shortcuts li a:hover {
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.03);
        -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15);
        box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15);
        color: #fff; } }
  .header__shortcuts i {
    display: none; }
  .header__burger {
    display: block; }
    @media (min-width: 1024px) {
      .header__burger {
        display: none; } }
  .header__burger-link {
    color: #fff;
    font-size: 2rem;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .header__burger-link:hover {
      text-decoration: none;
      color: #fff; }

.subnav {
  color: #4c555a;
  font-size: 13px;
  border-bottom: 1px solid #e2e3e3;
  background-color: #f6f7f8; }
  .subnav__container {
    min-height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
  @media (min-width: 0) and (max-width: 1023px) {
    .subnav__breadcrumbs {
      display: none; } }
  @media (min-width: 0) and (max-width: 1023px) {
    .subnav__search-bar {
      display: none; } }
  @media (min-width: 1024px) {
    .subnav__search-bar {
      position: absolute;
      right: 0; } }
  .subnav__nav-select {
    background: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    display: block; }
    @media (min-width: 1024px) {
      .subnav__nav-select {
        display: none; } }
  .subnav__nav-select-item {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    padding: 1.4rem;
    background: transparent;
    border: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1; }
  .subnav__nav-select-icon {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    font-size: 1.4rem;
    padding: 1.4rem;
    line-height: 1; }

.page-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 0;
  position: relative;
  z-index: 1; }

.left-sidebar {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 0 0 30px;
  position: relative;
  top: 0;
  width: 24rem; }
  @media (min-width: 0) and (max-width: 1023px) {
    .left-sidebar {
      display: none; } }

.right-sidebar {
  width: 300px;
  background-color: #fff;
  position: relative;
  top: 0;
  right: 0;
  margin-right: 20px;
  overflow-y: auto;
  display: none; }
  @media (min-width: 1200px) {
    .right-sidebar {
      display: block; } }
  .right-sidebar__title {
    padding-left: 2px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: #777; }
  .right-sidebar .fa {
    margin-right: 5px; }
  .right-sidebar nav {
    color: #bbb;
    font-size: 13px;
    text-decoration: none;
    border-radius: 2px;
    padding-left: 10px; }
    .right-sidebar nav a {
      padding-left: 10px;
      display: block; }
      .right-sidebar nav a:hover {
        background-color: #f8f8f8;
        color: #555;
        border-radius: 3px;
        text-decoration: none; }
    .right-sidebar nav > ul {
      list-style: none;
      margin-top: 0; }
      .right-sidebar nav > ul ul {
        list-style: none;
        margin-left: 15px; }

.page-content {
  max-width: 1024px;
  scroll-behavior: smooth;
  overflow-y: auto;
  padding: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media (min-width: 1024px) {
    .page-content {
      padding: 2rem 4rem; } }
  .page-content__slack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 1rem; }
  .page-content__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #eff0f0;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    @media (min-width: 0) and (max-width: 1023px) {
      .page-content__header {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .page-content__title {
    font-family: "Proxima Nova", "Open Sans", sans-serif;
    text-align: left;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 5px;
    color: #33383c;
    line-height: 30px;
    word-wrap: break-word;
    text-transform: none; }
  .page-content__title-wrapper {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .page-content__excerpt-text {
    color: #9ea6ad;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 30px; }
  .page-content__ask-a-question {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 5px 0; }
  .page-content__github-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 5px 10px; }
    .page-content__github-link a {
      padding-left: 8px;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
      color: #777;
      display: inline-block; }
    .page-content__github-link i {
      margin-right: 5px; }
  .page-content__content > h1 {
    color: #555;
    font-size: 23px;
    font-weight: 600;
    clear: both;
    margin-top: 4rem; }
    .page-content__content > h1:first-of-type {
      font-family: "Proxima Nova", "Open Sans", sans-serif;
      text-align: left;
      font-weight: 300;
      font-size: 30px;
      margin-bottom: 5px;
      color: #33383c;
      line-height: 30px;
      word-wrap: break-word;
      text-transform: none;
      margin-top: 3rem; }
  .page-content__content > h2 {
    color: #999;
    font-size: 21px;
    font-weight: 300;
    margin-top: 3rem; }
  .page-content__content > h3 {
    color: #999;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase; }
  .page-content__content img {
    margin: 0;
    max-width: 50%; }
  .page-content__content p {
    margin: 1.7rem 0;
    clear: both; }
  .page-content table {
    clear: both;
    width: auto;
    border: 3px solid #eff0f0;
    border-radius: 5px;
    overflow: auto;
    border-collapse: separate !important;
    color: #4c555a; }
    .page-content table td {
      border-bottom: 0;
      border: 0;
      padding: .5rem;
      color: #323232; }
    .page-content table th {
      border-bottom: 0;
      border: 0;
      text-transform: inherit;
      font-weight: 300;
      padding: .5rem;
      vertical-align: middle;
      text-align: center; }
  .page-content img {
    display: block;
    text-align: center; }
  .page-content li img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px; }

article {
  margin: 0; }

.breadcrumbs__separator {
  color: #ccc;
  font-size: 10px;
  width: 7px; }

.breadcrumbs__item, .breadcrumbs__title {
  padding: 0 9px 0 9px;
  display: inline-block; }

.breadcrumbs__item {
  color: #7d7d8e;
  border-radius: 2px; }
  .breadcrumbs__item:hover {
    text-decoration: none;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px #c9d4d9, 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px #c9d4d9, 0 2px 2px rgba(0, 0, 0, 0.1); }

.dialog {
  border-left: 4px solid #f00;
  padding-top: 13px;
  padding-bottom: 1px;
  padding-left: 23px;
  margin-left: 0;
  margin-bottom: 3em;
  color: rgba(0, 0, 0, 0.5); }
  .dialog p {
    font-size: 14px;
    padding-left: 22px;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 10px; }
    .dialog p:empty {
      display: none; }
  .dialog h4 {
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; }
  .dialog .fa {
    pointer-events: none;
    font-size: 18px;
    opacity: .3;
    filter: alpha(opacity=30);
    margin-right: 6px;
    position: relative;
    top: 1px; }
  .dialog.info {
    background-color: #e3edf2;
    border-color: #50cccc; }
    .dialog.info h4 {
      color: #50cccc; }
    .dialog.info a {
      background-color: #e3edf2;
      border-color: #50cccc; }
  .dialog.important {
    background-color: #fdf7f7;
    border-color: #d9534f; }
    .dialog.important h4 {
      color: #d9534f; }
    .dialog.important a {
      background-color: #fdf7f7;
      border-color: #d9534f; }
  .dialog.warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e; }
    .dialog.warning h4 {
      color: #f0ad4e; }
    .dialog.warning a {
      background-color: #fcf8f2;
      border-color: #f0ad4e; }
  .dialog.tip {
    background-color: #e3edf2;
    border-color: #50cccc; }
    .dialog.tip h4 {
      color: #50cccc; }
    .dialog.tip a {
      background-color: #e3edf2;
      border-color: #50cccc; }
  .dialog.code-block {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
    padding-top: 0;
    position: relative;
    left: -4rem;
    width: 113%; }
    .dialog.code-block pre {
      margin: 0;
      padding: 5px 13px;
      border-radius: 0; }
    .dialog.code-block h4 {
      line-height: 2em;
      font-size: 15px;
      color: #333;
      background-color: #eaeaea;
      padding-left: 18px;
      margin-bottom: 0; }

.footer .footline {
  display: block;
  padding-top: .2rem;
  padding-left: 5rem; }
  .footer .footline .tags {
    display: inline-block;
    float: left;
    font-size: 12px;
    margin-right: 10px; }
  .footer .footline .date {
    display: inline-block;
    margin-left: 10px; }

.landing-top {
  min-height: 293px;
  padding: 60px 50px;
  background-color: #364548;
  display: block;
  width: 100%;
  color: #fff;
  padding-bottom: 40px; }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .landing-top {
      height: 28vh; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .landing-top {
      padding: 20px; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .landing-top {
      height: 53vh; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .landing-top {
      height: 45vh; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    .landing-top {
      height: 48vh; } }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .landing-top {
      height: 21vh; } }
  .landing-top__title {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.1em; }
    @media (min-width: 320px) and (max-width: 480px) {
      .landing-top__title {
        line-height: 1.1em; } }
  .landing-top__description {
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .landing-top__description {
        max-width: initial;
        width: auto; } }
    @media (min-width: 481px) and (max-width: 767px) {
      .landing-top__description {
        max-width: initial;
        width: auto; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .landing-top__description {
        max-width: initial;
        width: auto; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .landing-top__description {
        width: 100%; } }
  .landing-top__image {
    max-width: 125px;
    margin-right: 10px;
    float: left; }
    @media (min-width: 320px) and (max-width: 480px) {
      .landing-top__image {
        display: none; } }
  .landing-top__search-bar {
    padding-top: 30px;
    margin-left: 20%;
    margin-right: 20%; }
    @media (min-width: 320px) and (max-width: 480px) {
      .landing-top__search-bar {
        padding-left: 0;
        padding-right: 0; } }

#navigation {
  border-top: 0;
  border-bottom: 0; }

.chevrons #navigation a {
  text-decoration: none; }
  .chevrons #navigation a:hover {
    color: #364548; }

#related h4 {
  color: #555;
  font-size: 23px;
  font-weight: bold; }

#related ul {
  list-style-type: none;
  line-height: 1.6em; }

#related i {
  margin-right: 10px; }

section a {
  color: #618c8c; }

section strong {
  font-weight: bold; }

section header {
  display: none; }

section article.post {
  display: inherit; }
  section article.post footer {
    margin-left: 0;
    padding-left: 0; }

section article header.post-header {
  display: inherit;
  position: relative;
  background-color: transparent;
  border-bottom: 0;
  min-width: 100%;
  padding-left: 0; }

section article header:after {
  background: transparent; }

section.post-excerpt {
  padding: 10px 15px;
  background-color: #f8f8f8;
  max-width: 86%;
  border-radius: 2px; }
  section.post-excerpt .read-more {
    float: right; }
  section.post-excerpt p {
    margin: 0; }

section > p {
  clear: both; }

section.page > article p {
  margin-top: 0;
  margin-bottom: 0; }

section.page > article > header > h2 {
  margin-top: 0;
  margin-bottom: 0; }

section.page > article.post > footer:empty.footline {
  display: none; }

.tags .label {
  font-size: .9em;
  padding: 0 7px 0 9px;
  display: inline-block;
  color: #7d7d8e;
  border-radius: 2px;
  background-color: #f6f7f8;
  line-height: 26px;
  -webkit-box-shadow: 0 0 0 1px #c9d4d9, 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px #c9d4d9, 0 2px 2px rgba(0, 0, 0, 0.1); }

.tags .label-default[href]:hover {
  color: #f6f7f8;
  background-color: #364548; }

#tooltip {
  text-align: center;
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 100;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #tooltip:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.8);
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px; }
  #tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto; }
  #tooltip.left:after {
    left: 10px;
    margin: 0; }
  #tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0; }

@media only screen and (max-width: 800px) {
  #tooltip:before {
    content: 'x';
    position: absolute;
    color: #fff;
    right: 8px;
    top: 3px;
    font-size: 12px; } }

.page-home {
  display: block; }

.homepage {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  @media (min-width: 1024px) {
    .homepage {
      width: 85%; } }
  .homepage ul {
    display: block;
    list-style: none;
    width: 100%; }
  .homepage__view-all {
    color: #bbb;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
  .homepage__title-icon {
    margin-right: 0.5rem;
    color: #aaa; }
  .homepage__category--depth1 {
    padding: 30px 20px;
    margin: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end; }
    @media (min-width: 1024px) {
      .homepage__category--depth1 {
        max-height: 270px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; } }
    @media (min-width: 1200px) {
      .homepage__category--depth1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%; } }
  .homepage__category--depth2 {
    padding: 2px 0; }
  .homepage__category-li--depth1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%; }
  .homepage__title-wrapper--depth1 {
    border-bottom: 1px solid #ddd;
    margin-top: 0; }
    @media (min-width: 640px) {
      .homepage__title-wrapper--depth1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 1rem; } }
  .homepage__title {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0; }
    .homepage__title--depth1 {
      font-size: 1.6rem;
      text-transform: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .homepage__title--depth1 > a {
        -webkit-transition: color .2s;
        transition: color .2s; }
        .homepage__title--depth1 > a:hover {
          text-decoration: none;
          color: #aaa; }
  .homepage__items-wrapper--depth1 {
    overflow-y: scroll;
    margin-top: 1.2rem; }
  .homepage__items-wrapper--depth2 {
    margin-left: 0.5rem;
    margin-top: 0.3rem; }
    .haschildren > .homepage__items-wrapper--depth2 {
      margin-bottom: 0.5rem; }

.faq > .post-header {
  padding: 10px 15px 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .faq > .post-header h2 {
    margin: 0;
    padding-bottom: 0; }
  .faq > .post-header a {
    white-space: nowrap;
    overflow: hidden;
    width: 87%;
    display: inline-block;
    text-overflow: ellipsis; }

.page-404 .searchbox {
  display: none; }

.page-404 .excerpt {
  display: none; }

.page-404 .github-link {
  display: none; }

.page-404 section.page h1 {
  display: none; }
