---
title: Email Verification
---

# Email Verification

import Link from '@docusaurus/Link'

Please verify your email in order to proceed.

<Link to="/reference-architecture/reference-architecture-overview/" className="button button--lg button--primary">Get Started</Link>
