.stepNumber {
  background: #000;
  color: #fff !important;
  border-radius: 50%;
  display: inline-block;
  line-height: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
  margin-right: 0.5em;
  font-style: normal;
}

html[data-theme='dark'] .stepNumber {
  background: #fff;
  color: #000 !important;
}

