/* 
 * Device = Desktops
 * Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
}

/* 
 * Device = Laptops, Desktops
 * Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  #nav-github, #nav-documentation {
    display: none;
  }
}

/* 
 * Device = Tablets, Ipads (portrait)
 * Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #nav-github, #nav-documentation, #nav-ask-a-question {
    display: none;
  }

  div.landing-description {
    width: 100%;
  }

  .homepage {
    width: 93%;
    padding-left: 0;
    padding-right: 0;
  }

  .nav-select {
    display: none;
  }

  .homepage > .category {
    flex: 0 0 50%;
  }
}

/*
 * Device = Tablets, Ipads (landscape)
 * Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  div.landing-description {
    max-width: initial;
    width: auto;
  }

  .landing-top {
    height: 28vh;
  }
}

/* 
 * Device = Low Resolution Tablets, Mobiles (Landscape)
 * Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  div.landing-description {
    max-width: initial;
    width: auto;
  }
}

/* 
 * Device = Most of the Smartphones Mobiles (Portrait) - iPhone 6/7/8/10
 * Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .logo img {
    max-width: initial;
  }  
  
  div.landing-description {
    max-width: initial;
    width: auto;
  }

  .landing-description img.cloud {
    display: none;
  }

  .landing-top {
    padding: 20px;
  }

  .search-bar {
    padding-left: 0;
    padding-right: 0;
  }

  div.landing-top h1 {
    line-height: 1.1em;
  }

  .homepage {
    padding: 0;
    width: 100%;
    display: block;
  }

  header nav.shortcuts {
    display: none;
  }

  div.calendly-badge-widget {
    display: none;
  }

  .breadcrumbs {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-select {
    background-color: transparent;
    width: 100%;
  }

  .nav-select select {
    margin-bottom: 0;
    display: inline-block;
  }

  .homepage > .category {
    max-height: none;
  }
}

/* iPhone 6, 7, & 8 in portrait */
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px) {

  .landing-top {
    height: 53vh;
  }
}

/* iPhone X in portrait */
@media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 812px) 
  and (-webkit-device-pixel-ratio : 3)
  and (orientation : portrait) { 

  .landing-top {
    height: 45vh;
  }
}

/* iPhone 6, 7, 8 Plus */
@media only screen 
  and (min-device-width : 414px) 
  and (max-device-width : 736px) 
  and (orientation : portrait) { 
  .landing-top {
    height: 48vh;
  }
}

/* iPad Pro Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

  .landing-top {
    height: 21vh;
  }

  .homepage {
    width: 80%;
    padding-left: 5%;
  }

}
