/* 
 * Device = Desktops
 * Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
}

/* 
 * Device = Laptops, Desktops
 * Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  #nav-github, #nav-documentation {
    display: none;
  }
}

/* 
 * Device = Tablets, Ipads (portrait)
 * Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #nav-github, #nav-documentation, #nav-ask-a-question {
    display: none;
  }
}

/* 
 * Device = Tablets, Ipads (landscape)
 * Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  div.landing-description {
    max-width: initial;
    width: auto;
  }

  
}

/* 
 * Device = Low Resolution Tablets, Mobiles (Landscape)
 * Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  div.landing-description {
    max-width: initial;
    width: auto;
  }
}

/* 
 * Device = Most of the Smartphones Mobiles (Portrait)
 * Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .logo img {
    max-width: initial;
  }  
  
  div.landing-description {
    max-width: initial;
    width: auto;
  }

  .landing-description img.cloud {
    display: none;
  }

  .landing-top {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  div.landing-top h1 {
    line-height: 1.1em;
  }

  .homepage > .category {
    height: auto;
  }

}
