.page-home {
  display: block;
}

.homepage {

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include respond-to('desktop') {
    width: 85%;
  }

  ul {
    display: block;
    list-style: none;
    width: 100%;
  }

  &__view-all {
    color: $color_pink_swan_approx;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    flex: 0 0 auto;
  }

  &__title-icon {
    margin-right: 0.5rem;
    color: $color_silver_chalice_approx;
  }

  &__category {
    &--depth1 {
      padding: 30px 20px;
      margin: 0;
      justify-content: end;

      @include respond-to('desktop') {
        max-height: 270px;
        display: flex;
        flex: 0 0 50%;
      }
      @include respond-to('large') {
        flex: 0 0 33.33%;
      }
    }

    &--depth2 {
      padding: 2px 0;
    }
  }

  &__category-li {

    &--depth1 {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }

  &__title-wrapper {

    &--depth1 {
      border-bottom: 1px solid $color_alto_approx;
      margin-top: 0;

      @include respond-to('tablet') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
      }
    }
  }

  &__title {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;

    &--depth1 {
      font-size: 1.6rem;
      text-transform: none;
      display: flex;
      align-items: center;

      > a {
        transition: color .2s;
        &:hover {
          text-decoration: none;
          color: $color_silver_chalice_approx;
        }
      }
    }
  }

  &__items-wrapper {
    &--depth1 {
      overflow-y: scroll;
      margin-top: 1.2rem;
    }

    &--depth2 {
      margin-left: 0.5rem;
      margin-top: 0.3rem;

      .haschildren > & {
        margin-bottom: 0.5rem;
      }
    }
  }
}
