.heroContainer {
  /* background: linear-gradient(134.3deg, #FFFFFF 0%, #000000 40.99%, #000000 100%);*/
  background: transparent;
  padding: 75px 0 42px;
}

.buttons {
  align-items: center;
  display: flex;
}

/** In mobile view, reduce the padding */
@media screen and (max-width: 996px) {
  .buttons {
    flex-direction: column;
  }

  .buttons :global(.button) {
    margin-left: 0;
    width: 100%;
  }

  .buttons :global(.button.button--secondary) {
    margin-left: 0;
  }
}

.button.button--secondary {
  color: #FFFFFF;
}

.heroContainer :global(.button.button--secondary.button--outline:not(.button--active):not(:hover)) {
    color: #ccc;
}

.heroInner {
  display: flex;
  align-items: center;
  color: white;
}

.heroInner > div:first-child {
  max-width: 420px;
}

.heroInner h1 {
  font-size: 56px;
  font-weight: 600;

  color: unset;
  background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.50)) text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroInner p {
  color: unset;
  background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.50)) text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroImg {
  position: relative;
}

.heroCodeSnippet {
  position: absolute;
  left: 20%;
  top: 20%;
}

.heroCodeSnippet pre {
  background: none;
  opacity: 0.75;
}

@media (max-width: 1074px) {
  .heroCodeSnippet pre {
    font-size: 14px;
  }
}

@media (max-width: 968px) {
  .heroLogo {
    display: none;
  }
}

.landingLogo {
  filter: red;
}
