
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2197148.js"></script>
<!-- End of HubSpot Embed Code -->

<!-- Sentry -->
<script type="text/javascript">
Raven.config('https://72b1f378ef704deca7ec819c9507a141@sentry.io/1019189').install()
</script>
<!-- Sentry end -->

<!-- Hotjar Tracking Code for docs.cloudposse.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:837043,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- Hotjar end -->



<!-- AddThis --> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ac3dab5d97449fa"></script>
<!-- AddThis end -->

<!-- Pingdom RUM -->
<script src="//rum-static.pingdom.net/pa-5acb059646534f0007000645.js" async></script>
<!-- Pingdom RUM end -->
