{{- if .Permalink -}}
<link rel="canonical" href="{{ .Permalink }}">
{{- end -}}

<link rel="apple-touch-icon-precomposed" href="/images/favicon.png">

<!-- Highlight.js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.0/styles/solarized-dark.min.css" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.0/highlight.min.js" crossorigin="anonymous"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- End Highlight.js -->

<link rel="stylesheet" href="/css/styles.css">

{{- if .Site.Params.gtmContainerId -}}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ .Site.Params.gtmContainerId }}');</script>
<!-- End Google Tag Manager -->
{{- end -}}

<!-- Calendly link widget begin -->
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<!-- Calendly link widget end -->

{{ partial "schema_org" . }}

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
