<header class="header">
  <div class="header__container container">
    <div class="logo header__logo">
      <a href="/">
        {{- partial "logo.html" . }}
      </a>
    </div>
    {{- with .Site.Menus.shortcuts}}
    <div class="burger header__burger">
      <a class="header__burger-link" href="javascript:void(0);">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <nav class="shortcuts header__shortcuts">
      {{- range sort . "Weight"}}
      <li id="{{ .Identifier }}" class="" role="">
        <a href="{{.URL}}" {{if eq $.Site.Params.menushortcutsnewtab true}} target="_blank" {{end}} rel="noopener">
          {{safeHTML .Name}}
        </a>
      </li>
      {{- end}}
    </nav>
    {{- end}}
  </div>
</header>
