<script type="application/ld+json">
{{- (dict "@context" "http://schema.org" "@type" "BlogPosting" "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Site.BaseURL) "articleSection" .Section "name" .Title "headline" .Title "description" (cond (not .Description) (cond .IsPage .Summary "") .Description) "inLanguage" "en-US" "author" (delimit .Site.Author " ") "creator" (delimit .Site.Author " ") "publisher" (delimit .Site.Author " ") "accountablePerson" (delimit .Site.Author " ") "copyrightHolder" (delimit .Site.Author " ") "copyrightYear" (.Date.Format "2006") "datePublished" .Date "dateModified" .Date "url" .Permalink "wordCount" .WordCount "keywords" (default .Params.tags (slice "Blog"))) | jsonify -}}
</script>

<script type="application/ld+json">
{{- $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" -}}
{{- $.Scratch.Add "path" .Site.BaseURL -}}
{{- $.Scratch.Add "breadcrumbs" (slice (dict "@type" "ListItem" "position" 1 "item" (dict "@id" .Site.BaseURL "name" "Home"))) -}}
{{- range $index, $element := split $url "/" -}}
  {{- $.Scratch.Add "path" $element -}}
  {{- if ne $element "" -}}
    {{- $.Scratch.Add "breadcrumbs" (dict "@type" "ListItem" "position" (add $index 2) "item" (dict "@id" ($.Scratch.Get "path") "name" (humanize .))) -}}
    {{- $.Scratch.Add "path" "/" -}}
  {{- end -}}
{{- end -}}
{{- (dict "@context" "http://schema.org" "@type" "BreadcrumbList" "itemListElement" ($.Scratch.Get "breadcrumbs")) | jsonify -}}
</script>
