body {

  >.__slackin {
    z-index: 2;
  }
}

div {
  &.calendly-badge-widget {
    right: 88px;
    bottom: 20px;
  }
}


.at-logo {
  display: none;
}

.calendly-badge-widget {
  iframe {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 10px;
  }

  .calendly-badge-content {
    background-image: linear-gradient(-225deg,$color_viking_approx 35%,$color_shakespeare_approx);
  }
}

.calendly-overlay {
  iframe {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 10px;
  }

  .calendly-popup {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 10px;
  }
}

.cloudposse {
  #_hj-f5b2a1eb-9b07_feedback_open_close_phone {
    background-image: linear-gradient(-225deg,$color_viking_approx 35%,$color_shakespeare_approx);
  }

  #_hj-f5b2a1eb-9b07_feedback ._hj-f5b2a1eb-9b07_feedback_minimized_label {
    background-image: linear-gradient(-225deg,$color_viking_approx 35%,$color_shakespeare_approx);
  }
}

@media(min-width: 320px) and(max-width: 480px) {
  div {
    &.calendly-badge-widget {
      display: none;
    }
  }
}

.post-header h2 {
  background-color: transparent;
  font-size: 1.2rem;
}

.page-gost-framework article section.page img {
  max-width: 13%;
}

.calendly-inline-widget iframe {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 10px;
}

.license .fab {
  font-size: 2em;
}

.asciinema-player-wrapper .asciinema-player {
  max-height: 600px;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 1px 29px 61px 1px $black_30;
}

.utterances-wrapper {
  margin: 10em auto 0 auto;
}
