@import 'breakpoint';

@import 'fontawesome-free/scss/fontawesome';
@import 'fontawesome-free/scss/brands';
@import 'fontawesome-free/scss/solid';
@import 'fontawesome-free/scss/regular';

// Hugo theme dockdock src.
// @import 'style';

// Hugo theme nucleus css
@import 'vendors/nucleus';
@import 'vendors/custom-bootstrap';
@import 'flex/style';

@import 'vendors/calendly.scss';



// TODO: Manage that css loading. SInce it is deprecated call.
@import 'featherlight';
@import 'dist/instantsearch.min';


@import 'base/colors';
@import 'base/fonts';
@import 'base/typography';
@import 'base/breakpoints';

@import 'base/placeholders';

@import 'base/links';
@import 'base/figure';
@import 'base/tables';


@import 'custom';

@import 'components/ui/ais';
@import 'components/ui/left-sidebar-menu';
@import 'components/ui/pre';
@import 'components/ui/searchbar';
@import 'components/ui/searchbox';
@import 'components/ui/searchresults';
@import 'components/ui/searchhits';
@import 'components/ui/searchstats';

@import 'components/page-elements/container';
@import 'components/page-elements/header';
@import 'components/page-elements/subnav';
@import 'components/page-elements/main';
@import 'components/page-elements/left-sidebar';
@import 'components/page-elements/right-sidebar';
@import 'components/page-elements/page';

@import 'components/article';
@import 'components/breadcrumbs';
@import 'components/dialog';
@import 'components/footer';
@import 'components/landing-top';
@import 'components/page-navigation';
@import 'components/related-list';
@import 'components/section';
@import 'components/tags';
@import 'components/tooltip';

@import 'pages/home';
@import 'pages/faq';
@import 'pages/404';
