.archived-banner {
  background: $color_half_colonial_white_approx;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.24);
  z-index: 100;
  line-height: 1.2em;

  &__text {s
    font-weight: bold;
    padding: 9px;
    text-align: center;
  }
}
