// Cleanup for wierd code
header {
  line-height: 1.4;
  height: auto;
}

.header {
  background-color: $color_cape_cod_approx;
  color: $white_80;
  height: 4.3rem;
  width: 100%;
  position: initial;
  padding: 0;
  margin: 0;
  display: block;

  &__container {
    display: flex;
    align-items: center;
    width: auto;
    padding: 10px;
    justify-content: space-between;
    position: relative;

    @include respond-to('desktop') {
      padding: 0;
    }
  }

  &__logo {
    width: 160px;
    height: 40px;

    @include respond-to('desktop') {
      margin: 10px 0;
    }

    svg {
      g > * {
        fill: $white;
      }
    }
  }

  &::after {
    display: none;
    background: none;
  }

  &__shortcuts {

    &.shortcuts {

      @include respond-to('mobile') {
        position: absolute;
        top: 100%;
        width: 100%;
        flex-direction: column;
        left: 0;
        background-color: $white;
        z-index: 5;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease-out;

        &.opened {
          max-height: 1000px;
          transition: all 0.25s ease-in;
          border-bottom: 1px solid #dee5e8;
        }
      }

      @include respond-to('desktop') {
        justify-content: flex-start;
        margin-left: 3vw;
      }

      li {

        .fa {
          font-size: 1.5rem;
          margin-right: .5rem;
        }

        .fab {
          font-size: 1.5rem;
          margin-right: .5rem;
        }

        a {
          &:hover {
            text-decoration: none;
          }
          @include respond-to('mobile') {
            font-size: 1.4rem;
            text-transform: uppercase;
            padding: 1rem 10px;
            justify-content: center;

            &:hover {
              color: $white;
              background-color: $color_cape_cod_approx;
            }
          }

          @include respond-to('desktop') {
            font-size: 1rem;
            color: $white_80;
            padding: 5px 1rem;
            height: auto;

            &:hover {
              border-radius: 3px;
              background-color: $black_3;
              box-shadow: 1px 1px 0 $white_15;
              color: $white;
            }
          }
        }
      }
    }

    i {
      display: none;
    }
  }

  &__burger {
    display: block;

    @include respond-to('desktop') {
      display: none;
    }
  }

  &__burger-link {
    color: $white;
    font-size: 2rem;
    transition: all 0.3s ease-out;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}
