.left-sidebar {
  background: $white;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 0 0 30px;
  position: relative;
  top: 0;
  width: 24rem;

  @include respond-to('mobile') {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 120px;
    bottom: 0;
    left: -100%;
    transition: all .5s;
    padding: 0;

    &.opened {
      left: 0;
    }
  }
}
