.page-content {
  max-width: 1024px;
  scroll-behavior: smooth;
  overflow-y: auto;
  padding: 10px;
  flex: 1;

  @supports (-webkit-overflow-scrolling: touch) {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  @include respond-to('desktop') {
    padding: 2rem 4rem;
  }

  &__preheader {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: .5rem;
  }

  &__slack {
    margin-left: 10px;
  }

  &__header {
    display: flex;
    border-bottom: 1px solid $color_gallery_approx;

    @include respond-to('mobile') {
      flex-wrap: wrap;
    }
  }

  &__title {
    font-family: $font_0, $font_1, sans-serif;
    text-align: left;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 5px;
    color: $color_outer_space_approx;
    line-height: 30px;
    word-wrap: break-word;
    text-transform: none;
  }

  &__title-wrapper {
    flex-grow: 1;
    padding-bottom: 6px;
  }

  &__excerpt-text {
    color: $color_santas_gray_approx;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 4px;
  }

  &__ask-a-question {
    flex: 0 0 auto;
    margin: 5px 0;
  }

  &__github-link {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;

    a {
      padding-left: 8px;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
      color: $color_tapa_approx;
      display: inline-block;
    }

    i {
      margin-right: 5px;
    }
  }

  &__content {

    @supports (-webkit-overflow-scrolling: touch) {
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }

    > h1 {
      color: $color_fuscous_gray_approx;
      font-size: 23px;
      font-weight: 700;
      clear: both;
      margin-top: 4rem;
    }

    > h2 {
      color: $color_mountain_mist_approx;
      font-size: 21px;
      font-weight: 300;
      margin-top: 3rem;
    }

    > h3 {
      color: $color_mountain_mist_approx;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
    }

    img {
      margin: 0;
      max-width: 50%;
    }

    p {
      margin: 1.7rem 0;
      clear: both;
    }

    .wip {
      margin: 15px 0;
    }
  }

  &__wrapper {
    @include respond-to('desktop') {
      display: flex;
      flex-direction: column;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;

    th {
      font-weight: 600;
      text-align: center;
    }

    th,
    td {
      padding: .9rem 1.5rem;
      border: 1px solid $color_mercury_approx;
    }

    tr {
      background-color: $white;
    }

    tr:nth-child(2n) {
      background-color: $color_black_haze_approx;
    }

    code {
      word-break: inherit;
    }
  }

  &__link,
  a {
    color: $color_deep_blue_sky;
  }

  img {
    display: block;
    text-align: center;
  }
}
