.right-sidebar {
  width: 300px;
  background-color: $white;
  position: relative;
  top: 0;
  right: 0;
  margin-right: 20px;
  overflow-y: auto;
  display: none;

  @include respond-to('large') {
    display: block;
  }

  &__title {
    padding-left: 2px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: $color_tapa_approx;
  }

  .fa {
    margin-right: 5px;
  }

  nav {
    color: $color_pink_swan_approx;
    font-size: 13px;
    text-decoration: none; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 2px;
    padding-left: 10px;

    a {
      padding-left: 10px;
      display: block;

      &:hover {
        background-color: $color_desert_storm_approx;
        color: $color_fuscous_gray_approx; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
        text-decoration: none;
      }
    }

    > ul {
      list-style: none;
      margin-top: 0;

      ul {
        list-style: none;
        margin-left: 15px;
      }
    }
  }
}
