.subnav {
  min-height: 38px;
  color: $color_abbey_approx;
  font-size: 13px;
  border-bottom: 1px solid $color_mercury_approx;
  background-color: $color_black_haze_approx;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  &__breadcrumbs {
    display: inline;
    position: absolute;
    left: 0;
  }

  &__search-bar {
    flex: 0 0 30%;
  }
}