.subnav {
  color: $color_abbey_approx;
  font-size: 13px;
  border-bottom: 1px solid $color_mercury_approx;
  background-color: $color_black_haze_approx;

  &__container {
    min-height: 38px;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__breadcrumbs {
    @include respond-to('mobile') {
      display: none;
    }
  }

  &__search-bar {

    @include respond-to('mobile') {
      flex: 1 0 auto;
    }

    @include respond-to('desktop') {
      position: absolute;
      right: 0;
    }
  }

  &__nav-select {
    background: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    min-height: 58px;
    flex: 0 0 auto;

    @include respond-to('desktop') {
      display: none;
    }
  }

  &__nav-select-item {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    padding: 1.4rem;
    background: transparent;
    border: 0;
    margin: 0;
    appearance:none;
    line-height: 1;
  }

  &__nav-select-icon {
    z-index: 1;
    right: 0;
    top: 0;
    font-size: 1.4rem;
    padding: 1.4rem;
    line-height: 1;
  }
}
