$BREAKPOINTS: (
  'mobile': 0 1023px,
  'tablet': 640px,
  'desktop': 1024px,
  'large': 1200px
);

html,
body {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  min-width: 320px;
  overflow: auto;
}
