//colors
$black_10: rgba(0, 0, 0, 0.1);
$black_3: rgba(0, 0, 0, 0.03);
$black_30: rgba(0, 0, 0, 0.3);
$black_50: rgba(0, 0, 0, 0.5);
$black_80: rgba(0, 0, 0, 0.8);
$black: #000;
$red: #f00;
$white_15: rgba(255, 255, 255, 0.15);
$white_80: rgba(255, 255, 255, 0.8);
$white: #fff;
$color_hover: #eee;

$color_abbey_approx: #4c555a;
$color_alabaster_approx: #f9f9f9;
$color_alto_approx: #ddd;
$color_bianca_approx: #fcf8f2;
$color_black_haze_approx: #f6f7f8;
$color_cape_cod_approx: #364548;
$color_casablanca_approx: #f0ad4e;
$color_celeste_approx: #ccc;
$color_chestnut_rose_approx: #d9534f;
$color_de_york_approx: #73c485;
$color_desert_storm_approx: #f8f8f8;
$color_fruit_salad_approx: #419954;
$color_fuscous_gray_approx: #555;
$color_gallery_approx: #eff0f0;
$color_gray_approx: #7d7f7f;
$color_gray_nurse_approx: #eaeaea;
$color_half_colonial_white_approx: #fcf5d4;
$color_mercury_approx: #e2e3e3;
$color_mine_shaft_approx: #333;
$color_mountain_mist_approx: #999;
$color_mystic_approx: #e3edf2;
$color_nebula_approx: #c9d4d9;
$color_outer_space_approx: #33383c;
$color_pink_swan_approx: #bbb;
$color_santas_gray_approx: #9ea6ad;
$color_shakespeare_approx: #45aeca;
$color_silver_chalice_approx: #aaa;
$color_suva_gray_approx: #888;
$color_tapa_approx: #777;
$color_tundora_approx: #444;
$color_viking_approx: #50cccc;
$color_vista_white_approx: #fdf7f7;
$color_waterloo__approx: #7d7d8e;
$color_woodsmoke_approx_2: #111;
$color_woodsmoke_approx: #0a0d0e;
$color_mostly_desaturated_dark_cyan: #618c8c;


.whitish {
  filter: brightness(0) invert(1);
}
