%hidden {
  max-height: 0;
  border: 0;
  overflow: hidden;
}
//original selectors
//article >aside .menu .dd-item div a, article >aside .menu .dd-item div a:hover

%extend_2 {
  order: 1;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

//original selectors
//body >footer .footline .tags, body >footer .footline .copyright

%extend_4 {
  display: inline-block;
  float: left;
  line-height: 2.2em;
}
//original selectors
//.dialog.code-block, .dialog.code-block a

%extend_5 {
  border-color: transparent;
  background-color: $color_black_haze_approx;
  margin-bottom: 2em;
}
