%hidden {
  max-height: 0;
  border: 0;
  overflow: hidden;
}

//original selectors
//.dialog.code-block, .dialog.code-block a

%extend_5 {
  border-color: transparent;
  background-color: $color_black_haze_approx;
  margin-bottom: 2em;
}
