html {
  font-size: 14px;
}
body,
html {
  font-family: $font_0, $font_1, $font_2, sans-serif;
  line-height: 1.8;
  font-weight: 300;
  color: $color_lucky_point_approx;
  letter-spacing: -0.004em;
}

strong {
  font-weight: bold;
}

.label-default {
  font-weight: normal;
}

.hidden {
  @extend %hidden;
}

abbr[title] {
  border-bottom: 1px #eee dotted;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

acronym[title] {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }
}

label abbr {
  display: initial;
}
