'.text.md':
  'docs:figure':
    'prefix': 'figure'
    'body': '{{< img src="" title="" >}}'

  'docs:year':
    'prefix': 'year'
    'body': '{{< year >}}'

  'docs:link':
    'prefix': 'link'
    'body': '[]({{< relref "" >}})'

  'docs:asciinema':
    'prefix': 'asciinema'
    'body': '{{% asciinema "" %}}'
