'.text.md':
  'docs:figure':
    'prefix': 'figure'
    'body': '{{< img src="" title="" >}}'

  'docs:year':
    'prefix': 'year'
    'body': '{{< year >}}'

  'docs:link':
    'prefix': 'link'
    'body': '[]({{< relref "" >}})'

  'docs:asciinema':
    'prefix': 'asciinema'
    'body': '{{% asciinema "" %}}'

  'docs:include-code-block':
    'prefix': 'include-code-block'
    'body': """
{{% include-code-block title="" file="" language="" %}}
"""

  'docs:include-github':
    'prefix': 'include-github'
    'body': """
{{% include-github title="" type="code-block" org="cloudposse" repo="" ref="master" file="" language="" %}}
"""
