<header>
  <div class="logo">
    <a href="/"><img src="/images/logo.png" id="header-logo" /></a>
  </div>
  <div class="burger"><a href="javascript:void(0);" style="font-size:15px;">&#9776;</a></div>
  {{- with .Site.Menus.shortcuts}}
    <nav class="shortcuts">
        {{- range sort . "Weight"}}
            <li id="{{ .Identifier }}" class="" role="">
                <a href="{{.URL}}" {{if eq $.Site.Params.menushortcutsnewtab true}}target="_blank"{{end}} rel="noopener">
                  {{safeHTML .Name}}
                </a>
            </li>
        {{- end}}
    </nav>
  {{- end}}
</header>
{{if .IsHome}}
<div class="landing-top">
  <div class="landing-description">
    <img src="/images/cloud.png" class="whitish cloud"/>
    <h1>The Cloud Posse Developer Hub</h1>
    <div class="about">
      Welcome to the Cloud Posse developer hub. You'll find comprehensive guides and documentation to help you start working with the Cloud Posse technology stack as quickly as possible, as well as support if you get stuck. Let's jump right in!
    </div>
    <div class="search-bar">
      <div id="search-box"><!-- SearchBox widget will appear here --></div>
      <div id="search-results">
        <div id="search-stats"><!-- Search status widget will appear here --></div>
        <div id="search-hits"></div>
      </div>
    </div>
  </div>
</div>
{{ end }}
<div class="subnav">
  <div class="container">
    {{if not .IsHome}}
    <div class="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      {{ template "breadcrumb" dict "page" . "value" .Title }}   
    </div>
    <div class="searchbox">
      <div class="fa fa-search"></div>
      <input type="text" placeholder="Search" class="search-box">
    </div>
    {{end}}
    <div class="nav-select">
      <center>
        <select onchange="javascript:location.href = this.value;">
          {{partialCached "flex/selectnavigation.html" .}}
        </select><i class="fa fa-angle-down"></i>
      </center>
    </div>
  </div>
</div>

<div id="refinement-list">
  <!-- Algolia RefinementList widget will appear here -->
</div>

<div id="hits">
  <!-- Algolia Hits widget will appear here -->
</div>

 <div id="pagination">
    <!-- Pagination widget will appear here -->
  </div>

<article>
  {{if .IsHome}}
    <div class="homepage">
      {{ partialCached "homepage.html" . }}
    </div>
  {{else}}
  <aside id="left-sidebar">
    <ul class="menu">
      {{- if not .Site.Params.disableHomeIcon}}
        <li data-nav-id="{{"/" | relLangURL}}" class="dd-item">
          <a href="{{"/" | relLangURL}}">
            <i class="fa fa-fw fa-home"></i>
          </a>
        </li>
      {{- end}}

      {{- partialCached "menu.html" . }}
    </ul>
    {{- partialCached "language-selector.html" . }}
    <section>
      {{- partialCached "menu-footer.html" . }}
    </section>
  </aside>

  <section class="page">

    {{- if not .Site.Params.disableSearch}}
      <div>
        <div class="searchbox">
          <input data-search-input id="search-by" type="text" placeholder="{{T "Search-placeholder"}}">
        </div>
        <script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
        <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
        <link href="{{"css/auto-complete.css" | relURL}}" rel="stylesheet">
        <script type="text/javascript">
          {{ if .Site.IsMultiLingual }}
              var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
          {{ else }}
              var baseurl = "{{.Site.BaseURL}}";
          {{ end }}
        </script>
        <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
      </div>
    {{- end}}
      <h1 class="title">{{.Title}}</h1>
      <div class="excerpt">
        {{ if .Description }}
        <p>{{ .Description | markdownify }}</p>
        {{ end }}
      </div>
      <div class="ask-a-question">
        <a class="button green" href="https://github.com/cloudposse/docs/issues/new?{{ (querify "title" (printf "Question about %s" .Title) "body" (printf "## Question\n\nDetails about your question...\n\n## References\n- <%s>" (.URL | absURL) ) ) | safeURL }}">Ask a Question</a>
      </div>
      <div class="github-link">
        <a href="{{ .Site.Params.editURL }}/content/{{ .File.Path }}" target="blank"><i class="fa fa-edit"></i>{{T "Edit-this-page"}}</a>
      </div>
  {{end}}

{{define "breadcrumb"}}
{{ if .page.Parent}}
{{$value := (printf "<a href='%s'>%s</a> <i class='fa fa-chevron-right'></i> %s" .page.Parent.URL .page.Parent.Title .value)}}
{{ template "breadcrumb" dict "page" .page.Parent "value" $value }} 
{{else}}
 {{.value|safeHTML}}
{{end}}
{{end}}
