    </div>
    {{if not .IsHome}}
      {{ partial "related.html" . }}
    {{end}}

    {{if not .IsHome}}
    <div class="chevrons">
      {{ partial "next-prev-page.html" . }}
    </div>

    {{ if and (isset .Params "comments") (.Params.comments) }}
    <div class="utterances-wrapper">
      <script src="/components/utterances/client.js"
              repo="cloudposse/docs"
              issue-term="pathname"
              async>
      </script>
    </div>
    {{ end }}

    </section>
    {{ partial "footer.html" . }}
  </div>
  {{ if and (gt .WordCount 400 ) (ne .Params.toc "false") }}
  {{ partial "right-sidebar.html" . }}
  {{ end }}
  {{end}}

</div>

{{ partial "flex/scripts.html" . }}
