      </div>
      {{if not .IsHome}}
        {{ partial "related.html" . }}
      {{end}}

      {{if not .IsHome}}
      <div class="chevrons">
        {{ partial "next-prev-page.html" . }}
      </div>

<!--      <br/>-->
<!--      <div id='discourse-comments'></div>-->

<!--      <script type="text/javascript">-->
<!--          DiscourseEmbed = {-->
<!--              discourseUrl: 'https://ask.sweetops.com/',-->
<!--              discourseEmbedUrl: '{{ .Permalink }}' };-->

<!--          (function() {-->
<!--              var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;-->
<!--              d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';-->
<!--              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);-->
<!--          })();-->
<!--      </script>-->

      </div>
      {{ partial "footer.html" . }}
    </section>

  </div>
  {{ if and (gt .WordCount 400 ) (ne .Params.toc "false") }}
  {{ partial "right-sidebar.html" . }}
  {{ end }}
  {{end}}

</div>

{{ partial "flex/scripts.html" . }}
