{{- if .Site.Params.gtmContainerId -}}
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.gtmContainerId }}" height="0" width="0"
    style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{{- end -}}

{{ partial "header.html" . }}

{{if .IsHome}}
{{ partial "landing.html" . }}
{{ end }}

{{ partial "subnav.html" . }}

<div class="page-layout">

  {{if .IsHome}}
  {{ partial "homepage.html" . }}
  {{else}}
  {{ partial "left-sidebar.html" . }}
  <div class="page-content__wrapper">

    <section class="page-content">
      <div class="page-content__scroller">
        {{ partial "page-content-header.html" . }}
        <div class="page-content__content">
          {{end}}
