<script src="{{ "/js/app.js" | relURL }}"></script>
<script src="{{ "/js/vendors~app.js" | relURL }}"></script>

<script src="{{ "/js/search.js" | relURL }}"></script>
<script src="{{ "/js/mermaid.js" | relURL }}"></script>
<script src="{{ "/js/vendors~search.js" | relURL }}"></script>
<script src="{{ "/js/vendors~mermaid.js" | relURL }}"></script>

{{if eq .Site.Params.highlightClientSide true}}
<script src="{{"js/highlight.pack.js" | relURL}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{end}}
