{{ if .IsNamedParams }}
<asciinema-player src="{{ .Get "src" }}" autoplay="{{ .Get "autoplay" | default "no" }}" rows="{{ .Get "rows" | default "24" }}" cols="{{ .Get "cols" | default "80" }}" loop="{{ .Get "loop" | default "no" }}" speed="{{ .Get "speed" | default "1" }}" idle-time-limit="{{ .Get "idle-time-limit" | default "2" }}" theme="{{ .Get "theme" | default "asciinema" }}" title="{{ .Get "title" }}" ></asciinema-player>
{{- else -}}
<asciinema-player src="{{ .Get 0 }}"></asciinema-player>
{{- end -}}

<!-- Asciinema Player -->
<link rel="stylesheet" type="text/css" href="/css/asciinema-player.css" />
<script src="/js/asciinema-player.js"></script>
<!-- Asciinema Player end -->


