// Cleanup some ais styles.
.ais {

  &-search-box {
    max-width: none;

    &--magnifier,
    &--loading-indicator-wrapper {
      fill: #bfc7d8;
      left: 12px;
      top: calc(50% - 18px/2);
    }

    &--reset {
      fill: #bfc7d8;
      top: calc(50% - 12px/2);
      right: 13px;
      outline: none;
    }
  }

  &-stats {
    opacity: 1;
  }

  &-hits {

    &.ais-hits__empty {
      width: 100%;
      color: $color_mountain_mist_approx;
      font-style: italic;
      padding-left: 20px;
      padding-bottom: 20px;
      color: $color_mountain_mist_approx;
      //Instead of the line below you could use @include box-sizing($bs)
      box-sizing: border-box
    }
  }
}
