.left-sidebar-menu {
  border-right: 1px solid $color_mercury_approx;
  padding-right: 12px;
  line-height: 2rem;
  list-style-type: none;
  margin-top: 0;

  &__item-title {
    display: flex;
    align-items: center;

    > a {
      &:active,
      &:hover,
      &:focus {
        background-color: $color_hover;
        border-radius: .2rem;
        text-decoration: none;
      }
    }
  }

  &__link {
    padding: 0 0 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    flex-grow: 1;
    line-height: inherit;
    display: flex;
    flex: 1;
    order: 1;
    text-decoration: none;
    color: $color_gray_approx;

    .haschildren & {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .5px;
    }

    .left-sidebar-menu__submenu .haschildren & {
      font-weight: 400;
      text-transform: none;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    width: 20px;
    cursor: pointer;
    color: $color_pink_swan_approx;
    opacity: .5;
    font-weight: bold;
    font-size: 20px;
    line-height: inherit;

    &:active,
    &:hover,
    &:focus {
      background-color: $color_hover;
      border-radius: .2rem;
      padding: 0 0rem;
    }
  }

  &__item {
    list-style: none;
    font-size: 13px;
    padding-left: 1rem;
    margin: .5rem 0 .5rem 20px;

    &.active {
      > .left-sidebar-menu__item-title {
        background-color: $color_cape_cod_approx;
        border-radius: 3px;

        > a {
          color: $white;
          font-weight: 400;

          &:hover {
            background-color: $color_cape_cod_approx;
          }
        }
      }
    }
  }

  &__submenu {
    display: none;

    .active > &,
    .parent > & {
      display: block;
    }

    .left-sidebar-menu__item {
      margin: 0;
    }

    .left-sidebar-menu__item-title {

      > a {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 5px;
      }
    }
  }
}
