.search-more {
  height: 0;

  &__link {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;

    .page-search-results & {
      display: none;
    }
  }

  &.visible {
    height: auto;
  }
}
