.search-stats {
  background-color: $white;
  border-top: 1px solid $color_mercury_approx;
  color: $color_celeste_approx;
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;

  &:empty {
    display: none;
  }

  &__title {
    color: $color_black_pearl_approx;
    font-size: 1.5em;
    margin-bottom: .7em;
  }

  &__subtitle {
    display: none;
  }
}