.search-bar {
  position: relative;
  transition: margin .3s ease-out;

  &.active {}

  &--subnav {
    background-color: $color_black_haze_approx;
    transition: width .3s ease-out;

    &.active {
      transition: width .3s ease-out;
      width: 100%;
    }    
  }
}